[Unit]
Description=Direct login to X
After=systemd-user-sessions.service

[Service]
ExecStart=/sbin/agetty --autologin trygve --noclear tty1 38400 linux
Restart=always
RestartSec=0

[Install]
WantedBy=graphical.target
