[Unit]
Description=Update net widget

[Service]
User=trygve
Environment=DISPLAY=:0
ExecStart=/home/trygve/programming/update-net-widget/update-net-widget

[Install]
WantedBy=multi-user.target
